<footer>
  <div class="container footer-container">
    <div class="footer-column">
      <h3>GeoMAG Engenharia</h3>
      <p>Soluções em topografia para seu projeto</p>
      <div class="social-links">
        <!-- <a href="https://www.facebook.com/GeoMAGEngenharia/" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a> -->
        <a href="https://www.instagram.com/geomag.br/" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    <div class="footer-column">
      <h3>Contato</h3>
      <ul>
        <li><i class="fas fa-map-marker-alt"></i> Rua Lino Marino Petena, 270 - Santa Rita, Capivari - SP</li>
        <li><i class="fas fa-phone"></i> [Número de telefone]</li>
        <li><i class="fas fa-envelope"></i> contato</li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>&copy; {{currentYear}} GeoMAG Engenharia e Topografia. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
